<%- include('partials/header'); -%>

<div class="nhsuk-width-container">
  <main class="nhsuk-main-wrapper" id="maincontent">
        
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

          <h1>Pre-screening questionnaire</h1>

          <form action="/postquestionnaire" method="POST">
              <% questionnaire.item.forEach(function(item) { %>
                  <div>
                      <% if (item.type === 'boolean') { %>
                        <div class="nhsuk-form-group">
                        <div class="nhsuk-radios">
                          <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
                          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                              <%= item.text %>
                          </legend>
                          <div class="nhsuk-hint" id="more-detail-hint">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                          </div>
                          <div class="nhsuk-radios__item">
                           <input class="nhsuk-radios__input" name="<%= item.linkId %>" type="radio" value="yes"">
                           <label class="nhsuk-label nhsuk-radios__label" for="<%= item.linkId %>">
                              Yes
                           </label>
                          </div>
                          <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="<%= item.linkId %>" name="<%= item.linkId %>" type="radio" value="no" checked>
                            <label class="nhsuk-label nhsuk-radios__label" for="<%= item.linkId %>">
                              No
                            </label>
                          </div>
                        </div>
                      </div>
                      <% } else if (item.type === 'string') { %>
                        <div class="nhsuk-form-group">
                          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                            <%= item.text %>
                          </legend>
                          <input class="nhsuk-input nhsuk-input--width-10" id="<%= item.linkId %>" name="<%= item.linkId %>" type="text" aria-describedby="input-width-10-hint">
                        </div>
                      <% } else if (item.type === 'choice') { %>
                        <% questionnaire.item.forEach(function(item) { %>
                          <% if (item.answerOption) { %>
                            <div class="nhsuk-form-group">
                              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                                <%= item.text %>
                              </legend>
                              <select class="nhsuk-select" id="<%= item.linkId %>"name="<%= item.linkId %>">
                              <% item.answerOption.forEach(function(option) { %>
                                <option value="<%= option.valueCoding.code %>">
                                  <%= option.valueCoding.display || option.valueCoding.code %>
                                </option>
                              <% }); %>
                            </select>
                          </div>
                        <% } %>
                      <% }); %>
 
                      <% } %>
                  </div>
                <% }); %>
              <button class="nhsuk-button" data-module="nhsuk-button"  type="submit">Submit</button>
          </form>

      </div>
    </div>

  </main>
</div>

<%- include('partials/footer'); -%>